	/***** --- generic elements --- *****/

	body, h1, h2, h3, h4, h5, h6, p, img, hr, form, fieldset, legend, input, select, textarea { margin:0; padding:0;}
	q:before, q:after{ content: "";  }
	img, fieldset { border:0;}

	hr, legend { display:none; visibility:hidden;}

	acronym, abbr { cursor: help	}
	.hide {  position: absolute; top: -1500em; left: 0; width: 1px; height: 1px; overflow: hidden;	}
	
	body { background:#ffffff; text-align:center; }

.clr { clear: both	}
.frt { float: right	}
.flt { float: left	}
.sp { font-size: .1em; line-height:1px }



.simpleImage{ display:block; margin:3em auto 2.5em auto;  }
	div.simpleImage, div.imgType1, div.imgType2, div.imgType3, div.imgType4  { text-align:center; }
		div.simpleImage img {display:block; margin:0 auto }
		div.simpleImage span, div.imgType1 span, div.imgType2 span, div.imgType3 span, div.imgType4 span { display:block; margin-top:.5em }
#text .imgType1, .text .imgType1 { float:left; margin-bottom:1.5em }
#text .imgType2, .text .imgType2 { float:right; margin-bottom:1.5em }


#text .imgType3, .text .imgType3 { float:left; margin-bottom:2em; margin-right:1.5em }
#text .imgType4, .text .imgType4 { float:right; margin-bottom:2em; margin-left:1.5em }	


.text .copy { margin-top:2em; margin-bottom:0 }
.text .pdf { padding-left:2em; background:url(../img/ico_pdf.gif) no-repeat 0 0 }

.msgError { margin:1em 0; padding:1em 1em 1em 5em; border:1px solid #E9131A;  }



#text p, #text h4, .text p, .text h4 { margin-bottom:1.5em; }
#text h4, .text h4 { margin-top: 1.5em; margin-bottom:.5em }
	#text h4.reset, .text h4.reset { margin-top:1.5em; margin-bottom: 0 }
	#text img, .text img { padding:.3em; border:1px solid #CDCDCD; }
		#text img.flt, #text img.frt, .text img.flt, .text img.frt { width:268px; margin: 1em 0 2.8em 0 }	
	#text ul, .text ul { margin:1em 0 1em 3em; padding:0 .5em 0 0;  }
		#text ul li, .text ul li { margin-bottom:1em; }
	#text ol li, .text ol li { margin-bottom:1em }	
	#text li ol li, .text li ol li { margin-top:1em; padding-left:0; background-image:none }	



table {margin-top:1em; border-top:1px solid #999; border-left:1px solid #999; border-collapse:collapse; }
	th,td {border-right:1px solid #999; border-bottom:1px solid #999; padding:.5em}
	tr { text-align:center }	


#header div { display:block; text-align:right }
	#header div span { position:relative; top:1.4em }

#navBar { margin-top:2em; padding-bottom:.2em; border-bottom:1px solid #000; text-align:right }
	#header ul, #navBar ul{ margin:0; padding:0; list-style:none }
		#header li, #navBar li, #footer li { display:inline; margin-left:.3em; padding-right:.7em; background:url(../img/bullet_pipe.gif) no-repeat 100% 100% } 	
			#header li.reset, #navBar li.reset, #footer li.reset { padding-right:0; background:none } 


#content h1 { margin-bottom:.8em }

#linkContact { position:absolute; left:2em; top:12em; display:block; width:13em; padding:.4em .2em .4em .5em; background:#01A3F4 url(../img/bullet_contacto.gif) no-repeat 95% 52% }
	#linkContact.type2 {  padding-right:.5em; left:25em; top:-9.2em; background-position: 95% 30% }
	#linkContact.type2 span { display:block; margin-top:.5em; padding:.1em; background:#fff } 

#footer { padding-top:.5em; padding-bottom:2em; border-top:1px solid #000; text-align:right }
	#footer ul { display:inline; margin:0 0 0 .5em; padding:0 0 0 1em; list-style:none; background:url(../img/bullet_footer.gif) no-repeat 0 50% }
		