/* CSS Document */
body{margin:0; padding:0; font-size:80%; font-family:Verdana, Arial, Helvetica, sans-serif; color:#3D3D3D; background-color:#ffffff; text-align:center}
a{font-size:85%;color:#3D3D3D;text-decoration:underline}
img{border:0}
p{line-height:1.5em}
h1{margin:0; padding:0; font-size:140%}
h2{margin:0; padding:0; font-size:120%}
acronym{cursor: help; color: #8E5C00;}
table {border-top:1px solid #999; border-left:1px solid #999; border-collapse:collapse; margin-top:1em;}
th,td {border-right:1px solid #999; border-bottom:1px solid #999; padding:.5em}
tr { text-align:center }
a:hover{background-color:#00A3F5;text-decoration:underline;color:#FFFFFF}
address{font-style:normal}
hr { display:none } 
#menu{margin-bottom:.2em; padding-bottom:.2em; border-bottom:1px solid #8e8e8e; text-align:right;}
#menu a:hover{background-color:#00A3F5;text-decoration:underline;color:#FFFFFF}
#menu a{font-size:85%;color:#3D3D3D;text-decoration:none}

#contenedora{width:82%; margin-left:auto; margin-right:auto; text-align:left}
#contenido { width:100% }
#pastilla_type1{width:30%;height:19px;background-color:#00A3F5;float:left}
#pastilla_type2{width:68%;height:19px;background-color:#E8E8E8;float:right}

#sidebar{width:30%;float:left;text-align:center;margin-top:3em;margin-bottom:3em}
#dcha_contenido{width:68%;float:right;margin-top:3em;margin-bottom:3em}
#contenedor_logo{width:30%;text-align:center}
#sidebar img{padding-top:25%;padding-bottom:25%}

#logo{margin-top:2em;margin-bottom:2em}
#contenedor_logos{text-align:right;margin-top:1em; margin-bottom:1em}
#footer{margin-top:.5em; margin-bottom:1em; text-align:right}
#onlyText h1 {text-align:center; margin-top:1em; margin-bottom:.5em}
#onlyText h2 {margin-top:1.5em; margin-bottom:1.5em}

.hr{height:1px;background-color:#8E8E8E;clear:both}
.sp{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:1px;line-height:1px}

div#idiomas{float:right; text-align:right; width:30%;}

#formContact{width:41.7em }
	#formContact fieldset { margin-bottom:1em; padding:1em; border-left:none; border-right:none; border-bottom:none }
	#formContact ul { margin:0; padding:0; list-style:none }
	#formContact li{clear:both; float:left; width:100%; padding-bottom:.7em;}
		#formContact label{float:left; width:13em; text-align:right; padding-right:1em; padding-top:.5em;}
		#formContact li select { margin-top:.8em; }
		#formContact li input{float:left; width:21.8em; margin-top:.2em; padding:.1em;}						
		#formContact li textarea{ float:left; margin:0; padding:.1em;  width:22.3em;}
			
	#formContact .submit { display:block; text-align:right}		
	#formContact .submit input { margin-right:4.5em  }

.msgError { margin:1em 0; padding:1em 1em 1em 5em; border:1px solid #E9131A; color: #E9131A; font-weight:bold }