body { font-size: 80%; font-family:Verdana, Arial, Helvetica, sans-serif; color:#3D3D3D;}
a{font-size:85%;color:#3D3D3D;text-decoration:underline}
	a:hover, .sel a {background-color:#00A3F5;text-decoration:underline;color:#fff}
	a.pdf:hover { background-color:transparent; text-decoration:none; color:#3d3d3d }
	 
	#header div span a, .text a, .entry a { font-size:100% }
p{line-height:1.7em}
h1, .text h2, .copy{font-size:140%}
h2, h3, h4{font-size:120%}
kbd { font-size:120% }
tfoot { font-size:85% }

acronym, abbr{color: #8E5C00;}

#navBar ul a { text-decoration:none; font-weight:bold }
	#navBar ul a:hover { text-decoration:underline } 
	
#contact .title { color:#fff; font:normal 1.7em Arial, Helvetica, sans-serif;}	
#contact .submit input { color:#fff; font-weight:bold }

.msgError { color:#E9131A; font-weight:bold }

#linkContact a { color:#fff; text-decoration:none; font-size:1.2em; font-weight:bold }
	#linkContact a:hover { text-decoration:underline }

#formContact  .value { font-size:.8em;}

#header div span a { color:#00A3F5 }
	#header div span a:hover { background:none; color: #00A3F5; text-decoration:none} 