	/**** --- Estructura --- *****/

#wrapper { position: relative; width:82%; max-width: 2000px; padding-top:2em; margin-left: auto; margin-right: auto; background:url(../img/bck_main.gif) no-repeat 0 0;  text-align: left;   }


#bodyContent { position:relative; width:100%; margin:3em 0; background: url(../img/trespuntos.gif) no-repeat 10% 2em}
	#bodyContent.wide, #blog #bodyContent { background:none }
	#blog #bodyContent { margin-top:0 }
	#sidebar {float:left; margin:3em 0; text-align:center; width:30%; }
	#content { float:right; width:70%; /*padding-left:30%; background: url(../img/trespuntos.gif) no-repeat 10% 10%*/ }
		#bodyContent.wide #content { float:none; width:100%;  }
		#contact.section { margin-top:0 }
	#blog #content { float:right; width:68%; margin:1em 0 3em 0;   }

.clearFix:after, #bodyContent:after { clear: both; display: block; height: 0; visibility: hidden; content: "." }


	
