#bodyContent.wide #content h1 {text-align:center; margin-top:1em; margin-bottom:.5em}
#bodyContent.wide #content h2 {margin-top:1.5em; margin-bottom:1.5em}
#content .text h2, #content .text h3, #content .text h4 { margin:1.5em 0 .5em 0}



#formContact{width:41.7em }
	#formContact fieldset { margin-bottom:1em; padding:1em; border-left:none; border-right:none; border-bottom:none }
	#formContact ul { margin:0; padding:0; list-style:none }
	#formContact li{clear:both; float:left; width:100%; padding-bottom:.7em;}
		#formContact label{float:left; width:13em; text-align:right; padding-right:1em; padding-top:.5em;}
		#formContact li select { width:22.4em; margin-top:.8em; }
		#formContact li input{float:left; width:21.8em; margin-top:.2em; padding:.1em;}						
		#formContact li textarea{ float:left; margin:0; padding:.1em;  width:22.3em;}
			
	#formContact .submit { display:block; text-align:right}		
		#formContact .submit input { margin-right:4.5em  }
	#formContact  .value { display:block; margin-top:1em; margin-right:2.2em; text-align:right; }
		#formContact  .value span { padding-left:1.5em; background:url(../img/ico_candado.gif) no-repeat 0 0  }
		
	#formContact li.acepto { float: none; clear: both } 	
		#formContact li.acepto input { width:auto; margin-right: .5em; margin-top: 0 } 		

#contact { width:46.2em; margin-top:2em }
#contact .title { width:18.7em; padding:.5em 0; background:#00A3F5; text-align:center }
	#contact .msgError { width:84.3%;  }
	#contact form, #wrapper #bodyContent .ok .text { width:41.2em; padding:2em 2em 4em 2em; border-top:2px solid #00A3F5; background:url(../img/bck_form.gif) repeat-x 0 100% }
	#contact form ul { margin-top:1em }
		#contact form li { clear:none; width:20.5em; padding-bottom:.1em }
			#contact li.clr { width:auto } 	
				#contact li.clr .text { width:38.4em }
			#contact li label { display:block; float:none; width:auto; text-align:left }
			#contact li .text { width:18.5em; border:1px solid #B7B7B7 }	
			#contact .submit { padding-right:1.2em }
				#contact .submit span { position:relative; display:inline-block; height:2.8em; margin-left:auto; margin-top:-1.5em;  }			
					#contact .submit input { width:16em; height:3.2em; margin-right:0; padding:0 1em; background:url(../img/bck_submit.gif) repeat-x 0 0; border:none; text-align:center; line-height:3.2em }
						#contact .submit.v2 input { background-image:url(../img/bck_submit_v2.gif) }
					#contact .submit .cTLeft, #contact .submit .cTRight, #contact .submit .cBLeft, #contact .submit .cBRight { position:absolute; width:8px; height:8px; background-position:0 0; background-repeat:no-repeat }
					#contact .submit .cTLeft { top:0; left:0; background-image:url(../img/curve_tl.gif) }
						#contact .submit.v2 .cTLeft { background-image:url(../img/curve_tl2.gif) }
					#contact .submit .cTRight { top:0; right:0; background-image:url(../img/curve_tr.gif) }
						#contact .submit.v2 .cTRight { background-image:url(../img/curve_tr2.gif) }
					#contact .submit .cBLeft { bottom:-.1em; left:0; background-image:url(../img/curve_bl.gif) }
						#contact .submit.v2 .cBLeft { background-image:url(../img/curve_bl2.gif)  }
					#contact .submit .cBRight { bottom:-.1em; right:0; background-image:url(../img/curve_br.gif) }
						#contact .submit.v2 .cBRight { background-image:url(../img/curve_br2.gif) }

#contact.section .title, #wrapper #bodyContent .ok .title { margin-bottom:0 }					
#contact.section form { margin-bottom:2em; background-color:#f8f8f8 }					
#contact.section h2 { margin-bottom:.3em }

